* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
:host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

h1,
h2, 
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: black;
}

a:visited {
    color: black;
}

body {
    margin: 0;
    padding: 0;
    line-height: inherit;
	background-color: rgb(255, 245, 225); /* PRIMARY */
}

/* Header */
        
                                                                    
.topnav {
    display: flex;
    padding: 0.7em;
    border-bottom: 0.05em solid rgb(255, 105, 105); /* SECONDARY DARK */
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left: auto;
    margin-right: auto;
    height: 8rem;
}

.signflow-logo {
    max-width:20vw;
    max-height: 20vh;
    display: inline-block; 
    justify-content: center;
}

.account-buttons{
    display: flex;
}

.account-buttons a{
    text-decoration: none;
    font-size: 1.3rem;
}

.account-buttons a:hover{
    background-color: rgb(226, 93, 93);
    transition: all 0.3s ease-in;
}

.login {
    background-color: rgb(255, 105, 105);
    padding: 0.7rem  3rem;
    border-radius: 2rem;
    position: relative;
    margin-right: -2.2vw;
}

.signup {
    margin-right: 1vw;
    background-color: rgb(255, 217, 217);
    padding: 0.7rem 3rem;
    border-radius: 2rem;
}

.subnav {
    background-color: transparent; 
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.subnav ul {
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.05em solid rgb(255, 105, 105); /* SECONDARY DARK */
    border-top: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
    background-color: rgb(255, 245, 225); /* PRIMARY */
}

.subnav li{
    border-left: 0.05em solid rgb(255, 105, 105); /* SECONDARY DARK */
}

.subnav li:nth-last-child(1){
    border-right: 0.15em solid rgb(255, 105, 105); /* SECONDARY DARK */
}

.subnav li:hover{
    background-color: rgb(255, 105, 105); /* SECONDARY DARK */
    transition: all 0.5s ease-in;
}

#current-page {
    background-color: rgb(255, 105, 105); /* SECONDARY DARK */
}

#current-page:hover {
    background-color: rgb(226, 93, 93); /* SECONDARY LIGHT */
    transition: all 0.5s ease-in;
}

.subnav a {
    padding: 1rem; 
    height: 100%;
    width: 100%;
    text-align: center; 
    display: flex; 
    align-items: center; 
    gap: 0.5rem;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.background-container {
    position: relative;
    height: 100vh;
}

 /* Footer */

footer {
    padding: 1.25rem;
    background-color: rgb(255, 105, 105); /* SECONDARY DARK */
    color: rgb(255, 245, 225); /* PRIMARY */
    text-align: center; 
    display: flex;
    justify-content: space-around;
}

footer h4 {
    font-size: larger;
    color: #000;
}

.quickLinks ul {
    list-style-type: none;
}

.quickLinks a{
    text-decoration: none;
    color: rgb(255, 245, 225); /* PRIMARY */
    transition: all 0.3s ease-in-out;
}

.quickLinks a:hover{
    color: rgb(204, 171, 171); /* SECONDARY LIGHT */
}

.social-media ul {
    list-style-type: none;
}

.social-media a{
    color: rgb(255, 245, 225); /* PRIMARY */
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}   

.social-media a:hover {
    color: rgb(204, 171, 171); /* SECONDARY LIGHT */
}

.news-email input{
    width: 100%;
    padding: 0.5em 1em;
    margin-bottom: 2vh;
    margin-top: 2vh;
    background-color: rgb(255, 245, 225); /* PRIMARY */
}

.news button{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.4em 1em;
    border-radius: 3em;
    margin-left: 2.5vw;
    background-color: rgb(204, 168, 168); /* SECONDARY LIGHT */
    transition: all 0.3s ease-in-out;
    border-color: transparent;
    color: #000;
}

.news button:hover {
    background-color: rgb(255, 245, 225); /* PRIMARY */
}


.CopyRight {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.footer-logo {
    width: 100%;
    height: 100%;
    max-width: 15vw;
    max-height: 20vh;
}

.branding {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
}